%% -*- erlang -*-
{minimum_otp_vsn, "22.0"}.

{cover_enabled, false}.

{edoc_opts, [{preprocess, true}]}.

{erl_opts, [warnings_as_errors]}.

{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used]}.

{deps, [
       ]
}.

{profiles,
 [{test, [{erl_opts, [nowarn_export_all]}]}]
}.
